<div id="<%= dom_id vehicle_model %>">
  <p>
    <strong>Brand:</strong>
    <%= vehicle_model.brand %>
  </p>

  <p>
    <strong>Model:</strong>
    <%= vehicle_model.model %>
  </p>

  <p>
    <strong>Year:</strong>
    <%= vehicle_model.year %>
  </p>

  <p>
    <strong>Color:</strong>
    <%= vehicle_model.color %>
  </p>

  <p>
    <strong>Bodytype:</strong>
    <%= vehicle_model.bodyType %>
  </p>

</div>
