<div id="<%= dom_id booking %>">
  <p>
    <strong>Parking slot:</strong>
    <%= booking.parking_slot_id %>
  </p>

  <p>
    <strong>Vehicle:</strong>
    <%= booking.vehicle_id %>
  </p>

  <p>
    <strong>User:</strong>
    <%= booking.user_id %>
  </p>

  <p>
    <strong>Starttime:</strong>
    <%= booking.startTime %>
  </p>

  <p>
    <strong>Endtime:</strong>
    <%= booking.endTime %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= booking.status %>
  </p>

</div>
