<div class="p-4 sm:ml-64">
  <div class="p-4 border-2 border-gray-200 border-dashed rounded-lg dark:border-gray-700 mt-14">
    <div class="flex items-center justify-between flex-wrap mb-6">
      <h1 class="text-3xl font-bold">Bookings</h1>
  
      <%= link_to new_booking_path do %>
        <button 
          type="button" 
          class="text-white 
          bg-gradient-to-br 
          
          from-purple-600 
          to-blue-500 
          hover:bg-gradient-to-bl 
          focus:ring-4 
          focus:outline-none 
          focus:ring-blue-300 
          dark:focus:ring-blue-800 
          font-medium 
          rounded-lg 
          text-sm 
          px-5 
          py-2.5 
          text-center 
          me-2 
          mb-2"
        >Create new booking</button>
      <% end %>
    </div>

    <div class="relative overflow-x-auto shadow-md sm:rounded-lg">
        <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
            <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                <tr>
                    <th scope="col" class="px-6 py-3">
                        Parking slot
                    </th>
                    <th scope="col" class="px-6 py-3">
                        Vehicle
                    </th>
                    <th scope="col" class="px-6 py-3">
                        Start Time
                    </th>
                    <th scope="col" class="px-6 py-3">
                        End Time
                    </th>
                    <th scope="col" class="px-6 py-3">
                        Total Time
                    </th>
                    <th scope="col" class="px-6 py-3">
                        Total Price
                    </th>
                    <th scope="col" class="px-6 py-3">
                        Payment Type
                    </th>
                    <th scope="col" class="px-6 py-3">
                        User
                    </th>
                    <th scope="col" class="px-6 py-3">
                        Status
                    </th>
                    <th scope="col" class="px-6 py-3">
                        Action
                    </th>
                </tr>
            </thead>
            <tbody>
              <% if @bookings.any? %>
                <% @bookings.each do |booking| %>
                <%= content_tag :tr, id: dom_id(booking), class: dom_class(booking) do %>
                  <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
                      <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                          <%= booking.parking_slot.slotNumber %>
                      </th>
                      <td class="px-6 py-4">
                          <%= booking.vehicle.vehicleRegistrationPlate %>
                      </td>
                      <td class="px-6 py-4">
                          <%= booking.startTime %>
                      </td>
                      <td class="px-6 py-4">
                          <% if booking.endTime %>
                            <%= booking.endTime %>
                          <% else %>
                            <div>--</div>
                          <% end %>
                      </td>
                      <td class="px-6 py-4">
                          <% if booking.payment %>
                            <%= booking.payment.totalTime %>
                          <% else %>
                            <div>--</div>
                          <% end %>
                      </td>
                      <td class="px-6 py-4">
                          <% if booking.payment %>
                            <%= booking.payment.totalPrice %>
                          <% else %>
                            <div>--</div>
                          <% end %>
                      </td>
                      <td class="px-6 py-4">
                        <% if booking.payment %>
                          <%= booking.payment.paymentType %>
                        <% else %>
                          <div>--</div>
                        <% end %>
                      </td>
                      <td class="px-6 py-4">
                          <%= booking.user.id %>
                      </td>
                      <td class="px-6 py-4">
                          <%= booking.status %>
                      </td>
                      <td class="px-6 py-4">
                          <div class="font-medium text-blue-600 dark:text-blue-500 hover:underline">
                            <%= link_to 'Show', booking %>
                          </div>
                      </td>
                  </tr>
                <% end %>
                <% end %>
              <% else %>
                <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 col-span-full">
                  <th colspan="7" scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white col-span-full text-center text-2xl">
                      No data
                  </th>
                </tr>
              <% end %>  
            </tbody>
        </table>
    </div>

  </div>
</div>
