<div class="p-4 sm:ml-64">
  <div class="p-4 dark:border-gray-700 mt-14">
    <div class="flex items-center justify-between flex-wrap mb-6">
      <h1 class="text-3xl font-bold">Bookings</h1>
  
      <%= link_to new_booking_path do %>
        <button 
          type="button" 
          class="text-white 
          bg-gradient-to-br 
          
          from-purple-600 
          to-blue-500 
          hover:bg-gradient-to-bl 
          focus:ring-4 
          focus:outline-none 
          focus:ring-blue-300 
          dark:focus:ring-blue-800 
          font-medium 
          rounded-lg 
          text-sm 
          px-5 
          py-2.5 
          text-center 
          me-2 
          mb-2"
        >Create new booking</button>
      <% end %>
    </div>

    <div class="relative overflow-x-auto shadow-md sm:rounded-lg">
        <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
            <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                <tr>
                    <th scope="col" class="px-6 py-3">
                        Parking slot
                    </th>
                    <th scope="col" class="px-6 py-3">
                        Vehicle
                    </th>
                    <th scope="col" class="px-6 py-3">
                        Start Time
                    </th>
                    <th scope="col" class="px-6 py-3">
                        End Time
                    </th>
                    <th scope="col" class="px-6 py-3">
                        Total Time
                    </th>
                    <th scope="col" class="px-6 py-3">
                        Total Price
                    </th>
                    <th scope="col" class="px-6 py-3">
                        Payment Type
                    </th>
                    <th scope="col" class="px-6 py-3">
                        User
                    </th>
                    <th scope="col" class="px-6 py-3">
                        Status
                    </th>
                    <th scope="col" class="px-6 py-3">
                        Action
                    </th>
                </tr>
            </thead>
            <tbody>
              <% if @bookings.any? %>
                <% @bookings.each do |booking| %>
                <%= content_tag :tr, id: dom_id(booking), class: dom_class(booking) do %>
                  <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
                      <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                          <%= booking.parking_slot.slotNumber %>
                      </th>
                      <td class="px-6 py-4">
                          <%= booking.vehicle.vehicleRegistrationPlate %>
                      </td>
                      <td class="px-6 py-4">
                          <%= booking.startTime %>
                      </td>
                      <td class="px-6 py-4">
                          <% if booking.endTime %>
                            <%= booking.endTime %>
                          <% else %>
                            <div>--</div>
                          <% end %>
                      </td>
                      <td class="px-6 py-4">
                          <% if booking.payment %>
                            <%= booking.payment.totalTime %>
                          <% else %>
                            <div>--</div>
                          <% end %>
                      </td>
                      <td class="px-6 py-4">
                          <% if booking.payment %>
                            <%= booking.payment.totalPrice %>
                          <% else %>
                            <div>--</div>
                          <% end %>
                      </td>
                      <td class="px-6 py-4">
                        <% if booking.payment && booking.payment.payment_type %>
                          <%= booking.payment.payment_type.name %>
                        <% else %>
                          <div>--</div>
                        <% end %>
                      </td>
                      <td class="px-6 py-4">
                          <%= booking.user.id %>
                      </td>
                      <td class="px-6 py-4">
                          <%= booking.status %>
                      </td>
                      <td class="px-6 py-4 flex items-center gap-2">
                          <%= link_to edit_booking_path(booking) do %>
                            <svg class="w-8 h-8 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                              <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m14.304 4.844 2.852 2.852M7 7H4a1 1 0 0 0-1 1v10a1 1 0 0 0 1 1h11a1 1 0 0 0 1-1v-4.5m2.409-9.91a2.017 2.017 0 0 1 0 2.853l-6.844 6.844L8 14l.713-3.565 6.844-6.844a2.015 2.015 0 0 1 2.852 0Z"/>
                            </svg>
                          <% end %>
                          <div x-data="{ open: false }">
                            <div @click="open = true" class="cursor-pointer">
                              <svg class="w-8 h-8 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                                <path stroke="currentColor" stroke-linecap="square" stroke-linejoin="round" stroke-width="2" d="M16.5 15v1.5m0 0V18m0-1.5H15m1.5 0H18M3 9V6a1 1 0 0 1 1-1h14a1 1 0 0 1 1 1v3M3 9v6a1 1 0 0 0 1 1h5M3 9h16m0 0v1M6 12h3m12 4.5a4.5 4.5 0 1 1-9 0 4.5 4.5 0 0 1 9 0Z"/>
                              </svg>
                            </div>
                            <!-- Main modal -->
                            <div x-show="open" tabindex="-1" aria-hidden="true" class="fixed inset-0 flex items-center justify-center z-50" style="background-color: rgba(0,0,0,.5)">
                                <div class="relative p-4 w-full max-w-2xl max-h-full">
                                    <!-- Modal content -->
                                    <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
                                        <!-- Modal header -->
                                        <div class="flex items-center justify-between p-4 md:p-5 border-b rounded-t dark:border-gray-600">
                                            <h3 class="text-xl font-semibold text-gray-900 dark:text-white">
                                                Are you sure?
                                            </h3>
                                            <button type="button" @click="open = false" class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ms-auto inline-flex justify-center items-center dark:hover:bg-gray-600 dark:hover:text-white">
                                                <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
                                                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"/>
                                                </svg>
                                                <span class="sr-only">Close modal</span>
                                            </button>
                                        </div>
                                        <!-- Modal body -->
                                        <div class="p-4 md:p-5 space-y-4">
                                            <%= render 'payments/form', payment: booking.payment %>
                                        </div>
                                    </div>
                                </div>
                            </div>
                          </div>
                      </td>
                  </tr>
                <% end %>
                <% end %>
              <% else %>
                <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 col-span-full">
                  <th colspan="10" scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white col-span-full text-center text-2xl">
                      No data
                  </th>
                </tr>
              <% end %>  
            </tbody>
        </table>
    </div>

  </div>
</div>
