<%= render layout: "auth_layout", locals: { title: "Sign in" }  do %>
  <%= form_for(resource, as: resource_name, url: session_path(resource_name), data: { turbo: false }) do |f| %>

    <div class="mb-6">
      <%= f.label :email, class: label_class %>
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class: input_class %>
    </div>

    <div class="mb-6">
      <%= f.label :password, class: label_class %>
      <%= f.password_field :password, autocomplete: "current-password", class: input_class %>
    </div>

    <div class="mb-6 flex justify-between items-center">
      <div>
        <% if devise_mapping.rememberable? %>
          <%= f.check_box :remember_me, class: checkbox_class %>
          <%= f.label :remember_me %>
        <% end %>
      </div>
      <div>
        <%- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
          <%= link_to "Forgot password?", new_password_path(resource_name), class: "" %>
        <% end -%>
      </div>
    </div>

    <div class="mb-6">
      <%= f.submit "Sign in", class: "text-white bg-gradient-to-br from-purple-600 to-blue-500 hover:bg-gradient-to-bl focus:ring-4 focus:outline-none focus:ring-blue-300 dark:focus:ring-blue-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2 w-full" %>
    </div>
  <% end %>
<% end %>
