<%= form_with(model: payment) do |form| %>
<% if payment.errors.any? %>
<div id="error_explanation" class="bg-red-50 p-6 rounded text-red-800">
  <h2 class="text-lg font-semibold mb-3"><%= pluralize(payment.errors.count, "error") %> prohibited this payment from being saved:</h2>

  <ul class="list-disc leading-relaxed">
    <% payment.errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end %>
  </ul>
</div>
<% end %>

  <div class="mb-6">
    <%= form.label 'Total Time', class: label_class %>
    <%= form.text_field :totalTime, disabled: true, class: input_class %>
  </div>
  <div class="mb-6">
        <%= form.label 'Payment type', class: label_class %>
        <%= form.collection_select :payment_type_id, @payment_types, :id, :name, { prompt: "Select a type" }, class: input_class %>
      </div>
  <div class="mb-6">
        <%= form.label :note, class: label_class %>
          <%= form.text_area :note, class: input_class %>
      </div>

<div class="flex justify-end items-center gap-4 p-4 md:p-5 border-t border-gray-200 rounded-b dark:border-gray-600">
    <button @click="open = false" type="button" class="py-2.5 px-5 ms-3 text-sm font-medium text-gray-900 focus:outline-none bg-white rounded-lg border border-gray-200 hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-4 focus:ring-gray-100 dark:focus:ring-gray-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700">Decline</button>
    <%# <button 
      @click="open = false" 
      type="submit" 
      class="py-2.5 px-5 ms-3 text-sm font-medium text-gray-900 focus:outline-none bg-white rounded-lg border border-gray-200 hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-4 focus:ring-gray-100 dark:focus:ring-gray-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700"
      >
        Submit
      </button> %>
      <%= form.submit class: button_class(theme: 'primary') %>
</div>

<% end %>
