<div id="<%= dom_id payment %>">
  <p>
    <strong>Totaltime:</strong>
    <%= payment.totalTime %>
  </p>

  <p>
    <strong>Paymenttype:</strong>
    <%= payment.paymentType %>
  </p>

  <p>
    <strong>Note:</strong>
    <%= payment.note %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= payment.status %>
  </p>

</div>
