


<div class="p-4 sm:ml-64">
  <div class="p-4 dark:border-gray-700 mt-14">
    <div class="flex items-center justify-between flex-wrap mb-6">
      <h1 class="text-3xl font-bold">Payments</h1>
    </div>

    <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
            <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                <tr>
                    <th scope="col" class="px-6 py-3">
                        Total Time 
                    </th>
                    <th scope="col" class="px-6 py-3">
                        Total Price 
                    </th>
                    <th scope="col" class="px-6 py-3">
                        Payment Type
                    </th>
                    <th scope="col" class="px-6 py-3">
                        Note
                    </th>
                    <th scope="col" class="px-6 py-3">
                        Status
                    </th>
                </tr>
            </thead>
            <tbody>
              <% if @payments.any? %>
                <% @payments.each do |payment| %>
                <%= content_tag :tr, id: dom_id(payment), class: dom_class(payment) do %>
                  <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
                      <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                          <%= payment.totalTime %>
                      </th>
                      <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                          $<%= payment.totalPrice %>
                      </th>
                      <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                        <% if payment.payment_type.present? %>
                          <%= payment.payment_type.name %>
                        <% else %>
                          --
                        <% end %>
                      </th>
                      <td class="px-6 py-4">
                          <%= payment.note %>
                      </td>
                      <td class="px-6 py-4">
                          <%= payment.status %>
                      </td>
                  </tr>
                <% end %>
                <% end %>
              <% else %>
                <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 col-span-full">
                  <th colspan="7" scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white col-span-full text-center text-2xl">
                      No data
                  </th>
                </tr>
              <% end %>  
            </tbody>
        </table>
  </div>
  </div>
</div>
