<div id="<%= dom_id payment_type %>">
  <p>
    <strong>Name:</strong>
    <%= payment_type.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= payment_type.description %>
  </p>

  <p>
    <strong>Code:</strong>
    <%= payment_type.code %>
  </p>

  <p>
    <strong>Active:</strong>
    <%= payment_type.active %>
  </p>

</div>
