<div id="<%= dom_id vehicle %>">
  <p>
    <strong>Vehicle model:</strong>
    <%= vehicle.vehicle_model_id %>
  </p>

  <p>
    <strong>User:</strong>
    <%= vehicle.user_id %>
  </p>

  <p>
    <strong>Vehicleregistrationplate:</strong>
    <%= vehicle.vehicleRegistrationPlate %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= vehicle.description %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= vehicle.status %>
  </p>

</div>
