<div class="p-4 sm:ml-64">
  <div class="p-4 dark:border-gray-700 mt-14">
    <div class="flex items-center justify-between flex-wrap mb-6">
      <h1 class="text-3xl font-bold">Vehicles</h1>
  
      <%= link_to new_vehicle_path, class: button_class(theme: "primary") do %>
      Add New Vehicle
      <% end %>
    </div>

    <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
            <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                <tr>
                    <th scope="col" class="px-6 py-3">
                        Vehicle model
                    </th>
                    <th scope="col" class="px-6 py-3">
                        Image
                    </th>
                    <th scope="col" class="px-6 py-3">
                        Vehicle registration plate
                    </th>
                    <th scope="col" class="px-6 py-3">
                        User
                    </th>
                    <th scope="col" class="px-6 py-3">
                        Description
                    </th>
                    <th scope="col" class="px-6 py-3">
                        Status
                    </th>
                    <th scope="col" class="px-6 py-3">
                        Action
                    </th>
                </tr>
            </thead>
            <tbody>
              <% if @vehicles.any? %>
                <% @vehicles.each do |vehicle| %>
                <%= content_tag :tr, id: dom_id(vehicle), class: dom_class(vehicle) do %>
                  <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
                      <td scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                          <%= vehicle.vehicle_model.brand %>
                      </td>
                      <td scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                        <% if vehicle.image.attached? %>
                          <%= image_tag(vehicle.image, class: "w-20 h-20 object-cover rounded-full") %>
                        <% else %>
                          --
                        <% end %>
                      </td>
                      <td class="px-6 py-4">
                          <%= vehicle.vehicleRegistrationPlate %>
                      </td>
                      <td class="px-6 py-4">
                          <%= vehicle.user.id %>
                      </td>
                      <td class="px-6 py-4">
                          <%= vehicle.description %>
                      </td>
                      <td class="px-6 py-4">
                          <%= vehicle.status %>
                      </td>
                      <td class="px-6 py-4">
                          <div class="font-medium text-blue-600 dark:text-blue-500 hover:underline">
                            <%= link_to 'Show', vehicle %>
                          </div>
                      </td>
                  </tr>
                <% end %>
                <% end %>
              <% else %>
                <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 col-span-full">
                  <th colspan="7" scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white col-span-full text-center text-2xl">
                      No data
                  </th>
                </tr>
              <% end %>  
            </tbody>
        </table>

  </div>
  </div>
</div>
