<div class="p-4 sm:ml-64">
  <div class="p-4 dark:border-gray-700 mt-14">
    <div class="flex items-center justify-between flex-wrap mb-6">
      <h1 class="text-3xl font-bold">Vehicles</h1>
  
      <%= link_to new_vehicle_path do %>
      <button 
          type="button" 
          class="text-white 
          bg-gradient-to-br 
          
          from-purple-600 
          to-blue-500 
          hover:bg-gradient-to-bl 
          focus:ring-4 
          focus:outline-none 
          focus:ring-blue-300 
          dark:focus:ring-blue-800 
          font-medium 
          rounded-lg 
          text-sm 
          px-5 
          py-2.5 
          text-center 
          me-2 
          mb-2"
        >Create new vehicle</button>
      <% end %>
    </div>

    <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
            <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                <tr>
                    <th scope="col" class="px-6 py-3">
                        Vehicle model
                    </th>
                    <th scope="col" class="px-6 py-3">
                        Image
                    </th>
                    <th scope="col" class="px-6 py-3">
                        Vehicle registration plate
                    </th>
                    <th scope="col" class="px-6 py-3">
                        User
                    </th>
                    <th scope="col" class="px-6 py-3">
                        Description
                    </th>
                    <th scope="col" class="px-6 py-3">
                        Status
                    </th>
                    <th scope="col" class="px-6 py-3">
                        Action
                    </th>
                </tr>
            </thead>
            <tbody>
              <% if @vehicles.any? %>
                <% @vehicles.each do |vehicle| %>
                <%= content_tag :tr, id: dom_id(vehicle), class: dom_class(vehicle) do %>
                  <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
                      <td scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                          <%= vehicle.vehicle_model.brand %>
                      </td>
                      <td scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                        <% if vehicle.image.attached? %>
                          <%= image_tag(vehicle.image, class: "w-20 h-20 object-cover rounded-full") %>
                        <% else %>
                          --
                        <% end %>
                      </td>
                      <td class="px-6 py-4">
                          <%= vehicle.vehicleRegistrationPlate %>
                      </td>
                      <td class="px-6 py-4">
                          <%= vehicle.user.id %>
                      </td>
                      <td class="px-6 py-4">
                          <%= vehicle.description %>
                      </td>
                      <td class="px-6 py-4">
                          <%= vehicle.status %>
                      </td>
                      <td class="px-6 py-4">
                        <div class="flex items-center gap-2">
                          <div>
                            <%= link_to edit_vehicle_path(vehicle) do %>
                              <svg class="w-8 h-8 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m14.304 4.844 2.852 2.852M7 7H4a1 1 0 0 0-1 1v10a1 1 0 0 0 1 1h11a1 1 0 0 0 1-1v-4.5m2.409-9.91a2.017 2.017 0 0 1 0 2.853l-6.844 6.844L8 14l.713-3.565 6.844-6.844a2.015 2.015 0 0 1 2.852 0Z"/>
                              </svg>
                            <% end %>
                          </div>
                          <div>
                            <% if vehicle.persisted? %>
                              <%= button_to vehicle, method: :delete, data: { turbo_confirm: 'Are you sure?' } do %>
                                <svg class="w-8 h-8 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                                  <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 7h14m-9 3v8m4-8v8M10 3h4a1 1 0 0 1 1 1v3H9V4a1 1 0 0 1 1-1ZM6 7h12v13a1 1 0 0 1-1 1H7a1 1 0 0 1-1-1V7Z"/>
                                </svg>
                              <% end %>
                            <% end %>
                          </div>
                        </div>
                      </td>
                  </tr>
                <% end %>
                <% end %>
              <% else %>
                <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 col-span-full">
                  <th colspan="7" scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white col-span-full text-center text-2xl">
                      No data
                  </th>
                </tr>
              <% end %>  
            </tbody>
        </table>

  </div>
  </div>
</div>
