<%
  subtitle ||= ""
  title ||= "" %>
<div class="items-start justify-center block h-full grid-cols-1 gap-4 lg:grid lg:items-center lg:grid-cols-2">
  <div class="relative flex items-center justify-center h-32 overflow-hidden lg:h-screen bg-gradient-to-tr from-black to-gray-800">
    <div class="inset-auto z-30 flex items-center justify-center flex-1 w-full h-full font-sans text-center text-white shadow lg:flex lg:h-screen lg:absolute xl:text-5xl">
      <%= image_tag("sign-in.jpg", class: "w-full h-full object-cover") %>
    </div>
  </div>
  <div class="h-full w-full flex items-center">
    <div class="relative z-20 px-6 mx-auto w-96">
      <div class="mb-4 xl:mt-8">
        <div class="flex justify-center">
          <a href="/" class="w-full flex justify-center">
            <%= image_tag('logo.png', class: "h-16 me-3") %>
            <span class="self-center text-4xl font-semibold sm:text-2xl whitespace-nowrap dark:text-white">IParking</span>
          </a>
        </div>

        <% unless title.blank? %>
          <h2 class="pt-6 font-sans text-3xl text-center font-black leading-tight"><%= title %></h2>
        <% end %>

        <% unless subtitle.blank? %>
          <p class="text-gray-600 mt-3"><%= subtitle %></p>
        <% end %>
      </div>

      <%= yield %>
      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>
